* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', serif;
  font-size: 15px;
  margin: 0;
  background: #f1f1f1;
}

/* Header/logo Title */
.header {
  padding: 20px;
  z-index: 500;
  text-align: center;
  background-color: white;
}

.header h1 {
  font-weight: bold;
  font-size: 40px;
  color: #4CAF50;
}

.header p {
  font-weight: bold;
  color: #333;
}

.header a {
  text-decoration: none;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  z-index: 490;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a, .navbar-index a, .navbar-admin a, .navbar-right a {
  text-align: center;
  text-decoration: none;
}

.navbar a, .navbar-right a {
  font-size: 16px;
  color: white;
  padding: 14px 16px;
}

/* Change color on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #4CAF50;
}

.navbar-right {
  margin-left: auto;
  padding: 14px 0;
}

/* Index navbar */
.navbar-index {
  padding: 8px 0;
}

.navbar-index a {
  font-size: 24px;
  color: #4CAF50;
}

.navbar-index a:hover {
  color: white;
  background-color: inherit;
}

/* Admin navbar */
.navbar-admin {
  padding: 14px 0;
}

.navbar-admin a{
  color: red;
}

.navbar-admin a:hover {
  background-color: inherit;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
	cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0;
}

/* Create columns */
.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25, .col-50, .col-75 {
  padding: 0 10px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
}

.center {
  text-align: center;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  margin_top: 20px;
  padding: 10px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {
  flex-direction: column;
  }
  .navbar-index, .navbar-right, .navbar-admin {
    margin: auto;
  }
}

/* CSS styling for elements in body */
h2, h3, h4 {
	font-weight: bold;
}

a.left {
  text-decoration: none;
  font-size: 22px;
  color: #333;
}

/* everything class title will be grey */
.title {
  color: grey;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

button {
  background-color: #4CAF50;
  font-family: 'Karla', serif;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/*Buttons in forms with no padding*/
button.formupdate, button.formreset {
  background-color: transparent;
  color: black;
  padding: 0;
  text-decoration: none;
  margin: 0;
}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: #4CAF50;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
/* Safari 3-4, iOS 1-3.2, Android 1.6- */
-webkit-appearance: none;
-webkit-border-radius: 0px;
/* Firefox 1-3.6 */
-moz-appearance: none;
-moz-border-radius: 0;
/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
appearance: none;
border-radius: 0;
/*Style elements*/
  width: 100%;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid #4CAF50;
}

.input-field:focus {
  border-bottom: 2px solid #ddd;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

button.formupdate:hover {
  font-weight: bold;
  color: #4285F4;
}

button.formreset:hover {
  font-weight: bold;
  color: #f44336;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
